$background-scroll-speed: 20s;
$player-ship-width: 40px;
$enemy-ship-width: 40px;

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font: 18px 'Poppins', sans-serif;
}

header {
  text-align: center;
  background: #000;
  color: #fff;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;

  .game-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;

    .game {
      width: 800px;
      height: 600px;
      background: url(../assets/Background/black-tiling.png);
      animation: scroll-background $background-scroll-speed linear infinite;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      position: relative;

      .player {
        position: absolute;
        width: $player-ship-width;
        margin-left: calc(-1 * ($player-ship-width / 2));
      }

      .laser {
        position: absolute;
        margin-left: -2.5px;
        height: 30px;
      }

      .enemy {
        position: absolute;
        width: $enemy-ship-width;
        margin-left: calc(-1 * ($enemy-ship-width / 2));
        margin-top: -18px;
      }

      .enemy-laser {
        position: absolute;
        margin-left: -2.5px;
        height: 30px;
      }
    }

    .score-level {
      display: flex;
      width: 25%;
      justify-content: space-between;
      position: absolute;
      top: 18%;
      color: white;
    }

    .won {
      display: none;
      position: absolute;
      background: #e2bb2c;
      color: white;
      padding: 20px 50px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      text-align: center;
      animation: pop-in 1s;
    }

    .lost {
      display: none;
      position: absolute;
      background: #881e1e;
      color: white;
      padding: 20px 50px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      text-align: center;
      animation: pop-in 1s;
    }
  }
}

.restart {
  color: white;
  background: blue;
  border-radius: 7px;
  padding: 10px 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
  cursor: pointer;
}

.next-level {
  color: white;
  background: green;
  border-radius: 7px;
  padding: 10px 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  margin-right: 25px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 15px;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 10px;
}

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
